@using DoAnKhoaCNTT.Models.Database;
@using PagedList.Mvc;
@model PagedList.IPagedList<NhomSVChinh>
@{
    ViewBag.Title = "DanhSachNhomKhoaLuan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNhomKLs = (List<DoAnKhoaCNTT.Models.Database.NhomSV>)ViewBag.DanhSachNhomKhoaLuans;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<div id="left">
    <div id="detai">
        <div class="de-tai">
            <h2>Danh sách nhóm khóa luận</h2>
            <table class="detail" border="1" cellspacing="0" cellpadding="0">
                <tr style="height:50px; background:#c7bfbf;text-align: center ">
                    <th>Mã nhóm</th>
                    <th>Mã khóa</th>
                    <th>Loại đề tài</th>
                    <th>Mã số sinh viên </th>
                    <th>Tên sinh viên </th>
                    <th>Chức vụ sinh viên </th>
                    @*<th colspan="2">Tùy chọn</th>*@
                </tr>
                @foreach (var item in Model)
                {
                    <tr style="height:70px; text-align: center">
                        <td rowspan="2">@item.MaNhom</td>                       
                        <td>@item.MaKhoaSv1</td>
                        <td rowspan="2">@item.TenLoaiDeTai</td>
                        <td>@item.MaSv1</td>
                        <td>@item.TenSv1</td>
                        <td>@item.ChucVuSv1</td>

                    </tr>
                    <tr style="height:70px; text-align: center">                   
                        <td>@item.MaKhoaSv2</td>                  
                        <td>@item.MaSv2</td>
                        <td>@item.TenSv2</td>
                        <td>@item.ChucVuSv2</td>

                    </tr>
                }
            </table>
        </div>
        <div class="phantrang">
            @Html.PagedListPager(Model, Page => Url.Action("GetPagingNhomKL", new { Page }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
            { HttpMethod = "GET", UpdateTargetId = "main" }))
        </div>
    </div>
</div>
<div id="right">
    @{ Html.RenderAction("MenuDeTai", "NoiDung");}
</div>



