<div class="menu_right">
    <div class="menu_detai">
        <a>Danh mục đồ án</a>
        <div class="ds_svda"><a href="@Url.Action("DanhMucDoAnChuyenNganh","NoiDung")">Danh sách đề tài đồ án chuyên ngành</a></div>
        <div class="ds_svda"><a href="@Url.Action("DanhMucDoAnTotNghiep","NoiDung")">Danh sách đề tài đồ án tốt nghiệp</a></div>
        <div class="ds_svda"><a href="#">Đề tài đồ án chuyên ngành của bạn</a></div>
        <div class="ds_svda"><a href="#">Đề tài đồ án tốt nghiệp của bạn</a></div>
        <a>Sinh viên đồ án</a>
        <div class="ds_doan"><a href="@Url.Action("DanhMucSinhVienDoAn","NoiDung")">Danh sách sinh viên làm đồ án chuyên ngành</a></div>
        <div class="ds_doan"><a href="@Url.Action("DanhMucSinhVienDoAn","NoiDung")">Danh sách sinh viên làm đồ án tốt nghiệp</a></div>
        <a>Nhóm đồ án</a>
        <div class="ds_dkda"><a href="@Url.Action("DanhMucNhomChuyenNganh","NoiDung")">Danh sách nhóm đồ án chuyên ngành</a></div>
        <div class="ds_dkda"><a href="@Url.Action("DanhMucNhomTotNghiep","NoiDung")">Danh sách nhóm đồ án tốt nghiệp</a></div>
        <div class="ds_dkda"><a href="#">Nhóm đồ án chuyên ngành của bạn</a></div>
        <div class="ds_dkda"><a href="#">Nhóm đồ án tốt nghiệp của bạn</a></div>
        <a>Đăng ký nhóm đồ án</a>
        <div class="ds_dkda"><a href="@Url.Action("DangKyNhomChuyenNganh","NoiDung")">Đăng ký nhóm đồ án chuyên ngành</a></div>
        <div class="ds_dkda"><a href="@Url.Action("DangKyNhomTotNghiep","NoiDung")">Đăng ký nhóm đồ án tốt nghiệp</a></div>
        <a>Đăng ký đề tài đồ án</a>
        <div class="ds_dkdt"><a href="@Url.Action("DangKyDeTaiChuyenNganh","NoiDung")">Đăng ký đồ án chuyên ngành</a></div>
        <div class="ds_dkdt"><a href="@Url.Action("DangKyDeTaiTotNghiep","NoiDung")">Đăng ký đồ án tốt nghiệp</a></div>

    </div>
</div>
