
<div class="menu_right">
    <div class="menu_detai">
        <a>Danh mục khóa luận</a>
        <div class="ds_svda"><a href="@Url.Action("DanhMucKhoaLuan","NoiDung")">Danh sách đề tài khóa luận</a></div>
        <div class="ds_svda"><a href="#">Đề tài khóa luận đã chọn</a></div>
        <a>Sinh viên khóa luận</a>
        <div class="ds_doan"><a href="@Url.Action("DanhMucSinhVienKhoaLuan","NoiDung")">Danh sách sinh viên làm khóa luận</a></div>
        <a>Nhóm khóa luận</a>
        <div class="ds_dkda"><a href="@Url.Action("DanhMucNhomKhoaLuan","NoiDung")">Danh sách nhóm khóa luận</a></div>
        <div class="ds_dkda"><a href="#">Nhóm khóa luận đã chọn</a></div>
        <a>Đăng ký nhóm khóa luận</a>
        <div class="ds_dkda"><a href="@Url.Action("DangKyNhomKhoaLuan","NoiDung")">Đăng ký nhóm khóa luận</a></div>
        <a>Đăng ký đề tài khóa luận</a>
        <div class="ds_dkdt"><a href="@Url.Action("DangKyDeTaiKhoaLuan","NoiDung")">Đăng ký khóa luận</a></div>
    </div>
</div>
